<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Sf BnB
        </title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container text-center">
            <h1>SfBNB</h1>
            <h3 class="my-5">Bonjour {{ fullname }}</h3>
            <p>Vous avez demandé a réinitialiser votre mot de passe</p>
            <p>Pour réinitialisé votre mot de passe
                <a href="{{ url }}">cliquez ici</a>
            </p>
        </div>
    </body>
</html>
