{% extends "base.html.twig" %}

{% block title %}
    - Mot de passe oublié
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h2 class="text-center mb-5">Réinitilisé votre mot de passe</h2>

                    <form method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" name="email" placeholder="Adresse Email ..." required type="text">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Envoyer email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
