{% extends "base.html.twig" %}

{% block title %}
    - Réinitilisé mot de passe
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center" >Réinitialisation mot de passe</h1>
        <h3 class="my-5 text-center">Bonjour <strong>{{ fullname }}</strong> ,vous pouvez enregistrer votre nouveau mot de passe ci-dessous.</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">Réinitialisé le mot de passe</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
